/bank_project/nbproject/private/
/bank_project/build/
/fruits_project/nbproject/private/
/fruits_project/build/
/BTS_Project/nbproject/private/
/BTS_Project/build/
/classbike/nbproject/private/
/class&object/nbproject/private/
/class&object/build/
/sample/nbproject/private/
/JavaApplication11/nbproject/private/
/bikers_squad/nbproject/private/
/bikers_squad/build/
/classbike/build/
/increment operaters/nbproject/private/
/if statement/nbproject/private/
/if statement java/nbproject/private/
/if statemen/nbproject/private/
/if statemen/build/
/class&object_project/nbproject/private/
/class&object_project/build/
/actors/nbproject/private/
/fruits/nbproject/private/
/fruits/build/
/team/nbproject/private/
/team/build/
/hero/nbproject/private/
/actor/nbproject/private/
/Actorss/nbproject/private/
/Actorss/build/
/basicclass/nbproject/private/
/basicclass/build/
/mobile/nbproject/private/
/mobile/build/
/heroine/nbproject/private/
/function arguments/nbproject/private/
/variables in classes/nbproject/private/
/variables in classes/build/
/bikes/nbproject/private/
/bikes/build/
/animal_project/nbproject/private/
/animal_project/build/
/constructor project/nbproject/private/
/constructor project/build/
/constructor_birds/nbproject/private/
/constructor_birds/build/
/flowers/nbproject/private/
/flowers/build/
/JavaApplication34/nbproject/private/
/buses/nbproject/private/
/buses/build/
/student_constructor/nbproject/private/
/student_constructor/build/
/inheritance/nbproject/private/
/constructor/nbproject/private/
